# this is a comment
# file list that git will ignore to track
*.log
tmp*
temp*
*misc-inputs*/
*misc-outputs*/
*.e*
*.o*
*.pe*
*.po*
*.png
*.jpg
*.jpeg
*.tif
*.tiff

# files created by compilation and build
**/build
**/debug
**/release

# ignore any IPython notbook checkpoint
**/.ipynb_checkpoints

# ignore any possilbe input data folders
**/data*

# ignore any output figures
**/figure*

# ignore any output data folders
**/result*